<?xml version="1.0" encoding="UTF-8"?>
<!-- The name of the product -->
<?define Name = "WolvenKit" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "RED Modding" ?>
<!-- The version number of this setup package-->
<?define Version = "0.8.0.1" ?>
<!-- Bundle logo-->
<?define Logo = "Resources\\logo.png" ?>
<!-- Bundle icon-->
<?define Icon = "Resources\\logo.ico" ?>
<!-- License -->
<?define License = "WolvenKit.rtf" ?>
<!-- Link for .net core 5 redistributable -->
<?define RedistNetUrl = "https://download.visualstudio.microsoft.com/download/pr/7a5d15ae-0487-428d-8262-2824279ccc00/6a10ce9e632bce818ce6698d9e9faf39/windowsdesktop-runtime-5.0.4-win-x64.exe" ?>
<!-- Link for Web View redistributable -->
<?define RedistWebViewUrl = "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/8e88f2e1-4014-4458-9498-3ac1d460b172/MicrosoftEdgeWebView2RuntimeInstallerX64.exe" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{D28D2CD2-9F2C-43C6-929F-36D78767FE1A}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" IconSourceFile="$(var.Icon)">
    <!--Bootstrapper UI with EULA and logo-->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl="https://redmodding.org/"
        LicenseFile="$(var.License)"
        LogoFile="$(var.Logo)"
        SuppressOptionsUI="no"/>
    </BootstrapperApplicationRef>

    <Chain DisableSystemRestore="yes">
      <!-- Install WolvenKit -->
      <MsiPackage Id="$(var.Name)" DisplayName="$(var.Name)" SourceFile="$(var.Installer.TargetPath)" Compressed="yes" Vital="yes"/>
      <!-- Install .net core 5 redistributable -->
      <ExePackage
        Id="NetRedist"
        Name="windowsdesktop-runtime-5.0.4-win-x64.exe"
        DisplayName=".net core 5 redistributable"
        DownloadUrl="$(var.RedistNetUrl)"
        Vital="no">
        <RemotePayload Description=".net core 5 redistributable" ProductName=".net core 5 redistributable" Size="54790696" Version="1.0.0.0" Hash="33FBCDB6B6F052FCC26B4EF850B81ED5F2C10B02"/>
      </ExePackage>
      <!-- Install Web View redistributable -->
      <ExePackage
        Id="WebViewRedist"
        Name="MicrosoftEdgeWebView2RuntimeInstallerX64.exe"
        DisplayName="Web View redistributable"
        DownloadUrl="$(var.RedistWebViewUrl)"
        Vital="no">
        <RemotePayload Description="Web View redistributable" ProductName="Web View redistributable" Size="99738384" Version="1.0.0.0" Hash="DFFF1506206C921C1DE78BADBBF278050B441557"/>
      </ExePackage>
    </Chain>
  </Bundle>
</Wix>
