<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
	<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="383">
	  <LayoutAnchorablePane DockWidth="383" DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="323" FloatingTop="492">
		<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="ProjectExplorer" IsSelected="True" FloatingLeft="323" FloatingTop="492" FloatingWidth="385" FloatingHeight="864" LastActivationTimeStamp="11/30/2020 20:18:30" />
	  </LayoutAnchorablePane>
	  <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="383" DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="472" FloatingTop="545">
		<LayoutAnchorablePane DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="472" FloatingTop="545">
		  <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Log" IsSelected="True" FloatingLeft="472" FloatingTop="545" FloatingWidth="385" FloatingHeight="864" LastActivationTimeStamp="11/30/2020 20:18:35" />
		</LayoutAnchorablePane>
	  </LayoutAnchorablePaneGroup>
	</LayoutAnchorablePaneGroup>
	<LayoutAnchorablePane Id="edddc4fb-c1ba-486d-bba7-952e9fd1d0ca" DockWidth="383" DockHeight="427" DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="20" FloatingTop="570" />
	<LayoutPanel Orientation="Vertical">
	  <LayoutPanel Orientation="Horizontal">
		<LayoutDocumentPane />
	  </LayoutPanel>
	</LayoutPanel>
	<LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="383" DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="1878" FloatingTop="572">
	  <LayoutAnchorablePane Id="849c06ca-471e-4077-b2c8-3b32eda20c63" DockMinWidth="375" FloatingWidth="385" FloatingHeight="864" FloatingLeft="1878" FloatingTop="572" />
	</LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
	<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="ProjectExplorer" IsSelected="True" FloatingLeft="20" FloatingTop="570" FloatingWidth="385" FloatingHeight="864" LastActivationTimeStamp="11/30/2020 20:18:24" PreviousContainerId="edddc4fb-c1ba-486d-bba7-952e9fd1d0ca" PreviousContainerIndex="0" />
	<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Log" IsSelected="True" FloatingLeft="1878" FloatingTop="572" FloatingWidth="385" FloatingHeight="864" LastActivationTimeStamp="11/30/2020 20:18:24" PreviousContainerId="849c06ca-471e-4077-b2c8-3b32eda20c63" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>