<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane Id="cb27961f-0347-4f4d-9ce9-badcc19b486d" DockWidth="383" DockMinWidth="375" FloatingWidth="385" FloatingHeight="583" FloatingLeft="190" FloatingTop="593">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="190" FloatingTop="593" FloatingWidth="385" FloatingHeight="583" LastActivationTimeStamp="11/27/2020 18:11:32" />
      </LayoutAnchorablePane>
      <LayoutDocumentPane />
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="286.5" FloatingWidth="385" FloatingHeight="583" FloatingLeft="887" FloatingTop="842">
      <LayoutAnchorablePane DockHeight="286.5" DockMinWidth="375" FloatingWidth="385" FloatingHeight="583" FloatingLeft="887" FloatingTop="842">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" FloatingLeft="887" FloatingTop="842" FloatingWidth="385" FloatingHeight="583" LastActivationTimeStamp="11/27/2020 18:11:33" PreviousContainerId="cb27961f-0347-4f4d-9ce9-badcc19b486d" PreviousContainerIndex="1" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>