[*.cs]

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = none

vc_generate_documentation_comments = xml

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = suggestion
