<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="net461" />
  <package id="DotNetHelper.FastMember.Extension" version="2.0.0" targetFramework="net48" />
  <package id="FastMember" version="1.5.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>