<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="383">
      <LayoutAnchorablePane DockWidth="383" DockHeight="1.256470588235294*" DockMinWidth="375" FloatingWidth="385" FloatingHeight="316" FloatingLeft="56" FloatingTop="495">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Project Explorer" IsSelected="True" ContentId="ProjectExplorer_Tool" FloatingLeft="56" FloatingTop="495" FloatingWidth="385" FloatingHeight="316" LastActivationTimeStamp="03/31/2021 15:26:40" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="375" DockHeight="0.7435294117647059*" DockMinWidth="375" FloatingWidth="385" FloatingHeight="634" FloatingLeft="204" FloatingTop="547">
        <LayoutAnchorablePane DockMinWidth="375" FloatingWidth="385" FloatingHeight="634" FloatingLeft="204" FloatingTop="547">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Log" IsSelected="True" ContentId="Log_Tool" FloatingLeft="204" FloatingTop="547" FloatingWidth="385" FloatingHeight="634" LastActivationTimeStamp="03/31/2021 15:26:45" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorablePaneGroup>
    <LayoutPanel Orientation="Vertical">
      <LayoutPanel Orientation="Horizontal" DockHeight="0.9754601226993865*">
        <LayoutDocumentPane />
        <LayoutAnchorablePane Id="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" Name="ToolsPane" DockWidth="375" DockMinWidth="375" />
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="320" FloatingWidth="385" FloatingHeight="634" FloatingLeft="1005" FloatingTop="907">
        <LayoutAnchorablePane DockWidth="1.7647143301658728*" DockMinWidth="375" FloatingWidth="385" FloatingHeight="336" FloatingLeft="559" FloatingTop="657">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Asset Browser" IsSelected="True" ContentId="AssetBrowser_Tool" FloatingLeft="559" FloatingTop="657" FloatingWidth="385" FloatingHeight="336" LastActivationTimeStamp="03/31/2021 15:26:55" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane DockWidth="0.5798347393681502*" DockMinWidth="375" FloatingWidth="385" FloatingHeight="316" FloatingLeft="462" FloatingTop="659">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Properties" IsSelected="True" ContentId="Properties_Tool" FloatingLeft="462" FloatingTop="659" FloatingWidth="385" FloatingHeight="316" LastActivationTimeStamp="03/31/2021 15:26:23" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>

    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Bulk Editor" IsSelected="True" ContentId="BulkEditor_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Import" IsSelected="True" ContentId="Import_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Csv Editor" IsSelected="True" ContentId="CsvEditor_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Hex Editor" IsSelected="True" ContentId="HexEditorVM_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Code Editor" IsSelected="True" ContentId="CodeEditor_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Journal Editor" IsSelected="True" ContentId="JournalEditor_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Visual Editor" IsSelected="True" ContentId="VisualEditor_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Anims Tool" IsSelected="True" ContentId="Anims_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Audio Tool" IsSelected="True" ContentId="AudioTool_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Importer Tool" IsSelected="True" ContentId="Importer_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="CR2W To Text Tool" IsSelected="True" ContentId="CR2WToTextTool_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Game Debugger" IsSelected="True" ContentId="GameDebugger_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Menu Creator Tool" IsSelected="True" ContentId="MenuCreator_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Plugin Manager" IsSelected="True" ContentId="PluginManager_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Radish Tool" IsSelected="True" ContentId="RadishTool_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="WCC Tool" IsSelected="True" ContentId="WCCTool_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Mimics" IsSelected="True" ContentId="Mimics_Tool" LastActivationTimeStamp="03/31/2021 15:25:56" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="CR2W Editor" IsSelected="True" ContentId="CR2WEditor_Tool" LastActivationTimeStamp="03/31/2021 15:26:06" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Import Export Tool" IsSelected="True" ContentId="ImportExport_Tool" LastActivationTimeStamp="03/31/2021 15:26:06" PreviousContainerId="92cc7d77-ac2d-462e-98e2-2b1402dd4f44" PreviousContainerIndex="0" />

  </Hidden>
</LayoutRoot>
