name: check-only
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  desktop-win:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Publish with Dotnet
        run: dotnet publish .\WolvenKit\WolvenKit.csproj -o .\publish -c Release

      - uses: actions/upload-artifact@v4
        with:
          name: wolvenkit-desktop
          path: .\publish

  console-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Restore dependencies
        run: dotnet restore ./WolvenKit.CLI/WolvenKit.CLI.csproj
      - name: Build
        run: dotnet build ./WolvenKit.CLI/WolvenKit.CLI.csproj --no-restore
