name: check-only
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  desktop-win:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x

    - name: Restore dependencies
      run: dotnet restore .\WolvenKit\WolvenKit.csproj
    - name: Build
      run: dotnet build .\WolvenKit\WolvenKit.csproj --no-restore

  console-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x

    - name: Restore dependencies
      run: dotnet restore ./WolvenKit.CLI/WolvenKit.CLI.csproj
    - name: Build
      run: dotnet build ./WolvenKit.CLI/WolvenKit.CLI.csproj --no-restore