name: wkit-draft-release
on:
  workflow_dispatch:
  push:
    tags-ignore:
    - '*-nightly*'

env:
  PROJ: ./WolvenKit/WolvenKit.csproj
  PROJC: ./WolvenKit.CLI/WolvenKit.CLI.csproj
  ARTIFACT_CLI_LIN: wolvenkit-cli-linux

jobs:

  console-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x

      - name: Publish with Dotnet
        run: dotnet publish ${{env.PROJC}} -o ./publish_cli_linux -r linux-x64 -c Release --no-self-contained

      - uses: actions/upload-artifact@v3
        with:
          name: ${{env.ARTIFACT_CLI_LIN}}
          path: ./publish_cli_linux

  release:
    runs-on: windows-latest
    needs: [console-linux]
    env:
      VERSION_APP: ${{github.ref_name}} # this is the tag on tag push or the branch name on dispatch
      OUT_DIR: ./publish
      NAME: WolvenKit
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x
       
      ##########################################
      # VERSIONS

      # the CLI is versioned by its assemblyversion
      - name: Get console version
        uses: naminodarie/get-net-sdk-project-versions-action@v1
        id: get_version_cli
        with:
          proj-path: ${{env.PROJC}}

      # get the version for the portable from the tag
      # only run on dispatch, otherwise the version is taken from the tag
      - name: Get app version
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: naminodarie/get-net-sdk-project-versions-action@v1
        id: get_version
        with:
          proj-path: ${{env.PROJ}}
      - name: change version
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: echo "VERSION_APP=${{steps.get_version.outputs.assembly-version}}" >> $GITHUB_ENV


      ##########################################
      # APP

      # Publish app
      - name: publish app
        run: dotnet publish ${{env.PROJ}} -o .\publish -c Release

      - name: create setup
        run: ISCC /O"${{env.OUT_DIR}}" /dMyAppBaseDir="..\download\${{env.ARTIFACT_APP_WIN}}"\" .\Installers\installer.is

      ##########################################
      # CONSOLE

      # Publish console
      - name: publish console
        run: dotnet publish ${{env.PROJC}} -o .\publish_cli -r win-x64 -c Release --no-self-contained

      ##########################################
      # Download artifacts
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: download

      # Download installer
      - run: mkdir ${{ env.OUT_DIR }}
      - name: download installer
        run: gh release download --pattern '*.msixbundle' --dir ${{env.OUT_DIR}} --repo WolvenKit/WolvenKit.Installer
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      ##########################################
      # create zip files
     
      - run: Compress-Archive -Path .\publish\* -DestinationPath ${{ env.OUT_DIR }}/${{env.NAME}}-${{env.VERSION_APP}}.zip
      - run: Compress-Archive -Path .\publish_cli\* -DestinationPath ${{ env.OUT_DIR }}/${{env.NAME}}.Console-${{steps.get_version_cli.outputs.assembly-version}}.zip
      - run: Compress-Archive -Path .\download\${{env.ARTIFACT_CLI_LIN}}"\* -DestinationPath ${{ env.OUT_DIR }}/${{env.NAME}}.ConsoleLinux-${{steps.get_version_cli.outputs.assembly-version}}.zip

      ##########################################
      # RELEASE
      - name: Release tag
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          generate_release_notes: true
          body_path: "RELEASE.md"
          files: |
            ${{ env.OUT_DIR }}/*.zip
            ${{ env.OUT_DIR }}/*.msixbundle
            ${{ env.OUT_DIR }}/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # dispatch release uses the version and not the ref
      - name: Release dispatch
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.VERSION_APP }}
          draft: true
          generate_release_notes: true
          body_path: "RELEASE.md"
          files: |
            ${{ env.OUT_DIR }}/*.zip
            ${{ env.OUT_DIR }}/*.msixbundle
            ${{ env.OUT_DIR }}/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  publish-nugets:
    runs-on: windows-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') && !contains(github.ref_name, '-') }} # only run on tags that are non-prerelease tags

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x

      # Pack and upload nugets for Types, Modkit and CLI
      - run: dotnet pack .\WolvenKit.RED4.Types\WolvenKit.RED4.Types.csproj
      - run: dotnet nuget push .\WolvenKit.RED4.Types\nupkg\*.nupkg --api-key ${{secrets.NUGET_KEY}} --source "https://api.nuget.org/v3/index.json" --skip-duplicate

      - run: dotnet pack .\WolvenKit.Modkit\WolvenKit.Modkit.csproj
      - run: dotnet nuget push .\WolvenKit.Modkit\nupkg\*.nupkg --api-key ${{secrets.NUGET_KEY}} --source "https://api.nuget.org/v3/index.json" --skip-duplicate

      - run: dotnet pack .\WolvenKit.CLI\WolvenKit.CLI.csproj
      - run: dotnet nuget push .\WolvenKit.CLI\nupkg\*.nupkg --api-key ${{secrets.NUGET_KEY}} --source "https://api.nuget.org/v3/index.json" --skip-duplicate
