name: WolvenKit-Check-Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop
  push:
    branches:
      - master      

jobs:   
  check-wkit-win:
    runs-on: windows-2022

    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x

    - name: Restore dependencies
      run: dotnet restore All.sln
    - name: Build
      run: dotnet publish .\WolvenKit\WolvenKit.csproj --no-restore -o .\publish -c Release

    - uses: actions/upload-artifact@v2
      with:
        name: wolvenkit
        path: .\publish


  check-console-win:
    runs-on: windows-2022

    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x

    - name: Restore dependencies
      run: dotnet restore All.sln
    - name: Build
      run: dotnet publish .\WolvenKit.CLI\WolvenKit.CLI.csproj --no-restore -o .\publish_cli -c Release

    - uses: actions/upload-artifact@v2
      with:
        name: wolvenkit_cli
        path: .\publish_cli
