name: WolvenKit-Nightly
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  check_date:
    runs-on: windows-2022
    name: Check latest commit
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main

      - name: Get commit
        run: |
          $commit = git log -1 --format=%H
          echo "SHA=$commit" >> $env:GITHUB_ENV
      - run: echo ${{ env.SHA }}

      - id: should_run
        continue-on-error: true
        name: check latest commit is less than a day
        if: ${{ github.event_name == 'schedule' }}
        run: test -z $(git rev-list  --after="24 hours"  ${{ env.SHA }}) && echo "should_run=false" >> $GITHUB_OUTPUT

  nightly-wkit-win:
    needs: check_date
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: windows-2022

    steps:
    # setup
    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: main

    - name: Get commit
      run: |
        $commit = git log -1 --format=%H
        echo "SHA=$commit" >> $env:GITHUB_ENV
    - run: echo ${{ env.SHA }}

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Get version
      uses: naminodarie/get-net-sdk-project-versions-action@v1.1.2
      id: get-version
      with:
        proj-path: ./WolvenKit/WolvenKit.csproj
    - name: Get console version
      uses: naminodarie/get-net-sdk-project-versions-action@v1.1.2
      id: get-version-cli
      with:
        proj-path: ./WolvenKit.CLI/WolvenKit.CLI.csproj
    - name: Get Date
      run: |
        $date = Get-Date -Format "yyyy-MM-dd"
        echo "ISODATE=$date" >> $env:GITHUB_ENV

    # environmental variables
    - run: echo "FINALOUT=./publish" >> $env:GITHUB_ENV
    - run: echo "NAME=WolvenKit" >> $env:GITHUB_ENV
    - run: echo "MREPO=${{github.repository}}" >> $env:GITHUB_ENV
    - run: echo "VERSION=${{steps.get-version.outputs.assembly-version}}-nightly.${{env.ISODATE}}" >> $env:GITHUB_ENV
    - run: echo "VERSIONC=${{steps.get-version-cli.outputs.assembly-version}}-nightly.${{env.ISODATE}}" >> $env:GITHUB_ENV
    - run: echo "PORTABLE=${{env.NAME}}-${{env.VERSION}}.zip" >> $env:GITHUB_ENV
    - run: echo "CONSOLE=${{env.NAME}}.Console-${{env.VERSIONC}}.zip" >> $env:GITHUB_ENV

    # Publish app and CLI
    - run: dotnet publish ./WolvenKit/WolvenKit.csproj -o ./publish/app/ -c Release --version-suffix "nightly.${{env.ISODATE}}" -p:InformationalVersion="${{env.VERSION}}"
    - run: dotnet publish ./WolvenKit.CLI/WolvenKit.CLI.csproj -o ./publish/console/ -c Release --version-suffix "nightly.${{env.ISODATE}}"

    # create zip
    - run: Compress-Archive -Path ./publish/app/* -DestinationPath ${{env.FINALOUT}}/${{env.PORTABLE}}
    - run: Compress-Archive -Path ./publish/console/* -DestinationPath ${{env.FINALOUT}}/${{env.CONSOLE}}
    
    # tag this commit
    - name: Create Tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        default_bump: false
        custom_tag: ${{ env.VERSION }}
        tag_prefix: ""
    
    # RELEASE
    - name: Release
      run: |
          gh release create ${{ env.VERSION }} -n "${{ env.MESSAGE }}" -t "${{ env.VERSION }}" -R ${{ env.REPO }} ${{ env.FILES }}
      env:
        MESSAGE: "This is a beta release so you may encounter bugs. Please report them.\n${{ steps.tag_version.outputs.changelog }}"
        FILES: ${{env.FINALOUT}}/${{env.PORTABLE}} ${{env.FINALOUT}}/${{env.CONSOLE}}
        REPO: WolvenKit/WolvenKit-nightly-releases
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  nightly-nugets:
    needs: check_date
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: windows-2022

    steps:
    # setup
    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: main

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Get Date
      run: |
        $date = Get-Date -Format "yyyy-MM-dd"
        echo "ISODATE=$date" >> $env:GITHUB_ENV
    
    # Pack and upload prerelease nugets
    - run: dotnet pack ./WolvenKit.CLI/WolvenKit.CLI.csproj --version-suffix "nightly.${{env.ISODATE}}"
    - run: dotnet nuget push .\WolvenKit.CLI\nupkg\*.nupkg --api-key ${{secrets.NUGET_KEY}} --source "https://api.nuget.org/v3/index.json" --skip-duplicate
